body {
  counter-reset: td;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  counter-reset: th;
}

th,
td {
  border: 1px solid;
  padding: 25px;
}

th {
  background-color: #c7c776;
}

tr:hover {
  background-color: #e4e48f;
}

tr td:first-child::before {
  counter-increment: td;
  content: counter(td);
}

tr th:nth-child(n + 2)::before {
  counter-increment: th;
  content: counter(th, upper-alpha);
}
